.moveable {
    padding:5px 10px; cursor: move;
}

.list-items {
  width: 50%;
}

.result, .from {
    color: #fff;
    background: #726A95;
    padding: 15px;
}
header .intro-text .mission {
  display: block;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 5px;
}

header .intro-text .skills {
  display: block;
  font-size: 1.25em;
  font-weight: 150;
  margin-bottom: 5px;
}

@media (min-width: 768px) {

  header .intro-text .mission {
    display: block;
    font-size:2.25em;
    margin-bottom: 3px;
  }

  header .intro-text .skills {
    display: block;
    font-size:1.5em;
    margin-bottom: 3px;
  }
}

header, section.success {
    background-color: #709FB0;
}

.btn-success, 
.navbar-custom .navbar-toggle:focus, 
.navbar-custom .navbar-toggle:hover {
    background-color: #726A95;
    border-color: #351F39;
}

.navbar-custom .navbar-nav li.active a, 
.navbar-custom .navbar-nav li.active a:active,
.navbar-custom .navbar-nav li.active a:focus, 
.navbar-custom .navbar-nav li.active a:hover
{
    background-color: #726A95;
    color: #fff
}
.navbar-custom .navbar-nav li a{
    background-color: #2C3E50;
    color: #fff
}


.navbar-custom .navbar-nav li a:hover{
    color: #726A95;
    background-color:#F4E8C1;
}

hr.star-light:after {
  background-color: #709FB0;
  color: white;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}