<div class="portfolio-modal modal fade" id="portfolioModal-Other" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Other things TODO  {{container}}!</h2>
                        <hr class="star-primary">
                        <ul class="item-details">
                            <li>Microservices</li>
                            <li>Event sourcing http://martinfowler.com/eaaDev/EventSourcing.html</li>
                            <li>SOLID with examples</li>
                            <li>service registry</li>
                            <li>docker and automation</li>
                            <li>managing infrastructure</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
