
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="modal-body">
                <h2>Microservices with Load Balancing</h2>
                <hr class="star-primary">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
                <img src="images/portfolio/java.png" class="img-responsive img-centered" alt="java">
        </div>
        <div class="col-sm-3">
                <img src="images/portfolio/spring.png" class="img-responsive img-centered" alt="spring">
        </div>
        <div class="col-sm-2">
                <img src="images/portfolio/csharp.png" class="img-responsive img-centered" alt="c#">
        </div>
        <div class="col-sm-2">
                <img src="images/portfolio/nancy.png" class="img-responsive img-centered" alt="nancy Fx">
        </div>
        <div class="col-sm-2">
                <img src="images/portfolio/fsharp.png" class="img-responsive img-centered" alt="F#">
        </div>
        
    </div>
    <div class="row">    
        <div class="col-sm-4">
                <img src="images/portfolio/python.png" class="img-responsive img-centered" alt="python">
        </div>
        <div class="col-sm-2">
                <img src="images/portfolio/flask.png" class="img-responsive img-centered" alt="flask">
        </div>
        <div class="col-sm-3">
                <img src="images/portfolio/node.png" class="img-responsive img-centered" alt="node js">
        </div>
        <div class="col-sm-2">
                <img src="images/portfolio/suave.png" class="img-responsive img-centered" alt="Suave">
        </div>
    </div>
     <div class="row">
        <div class="col-lg-12">            
            <p>In this example I have 5 services written in different technologies (Java, C#, F#, Javascript, Python). 
                Each microservices has the same contract are all of them are under the same load balancer. </p>
            <p>The angular application is making a call to the loadbalancer, binding to the view and showing the result.</p>
            <p>You can see that when a return is given, there is also a from field. That indicates where the response is coming from (c#, java, python, nodejs, f#.)</p>
        </div>
    </div>
     <div class="row">
       
        <div class="col-xs-10 col-xs-offset-1 form-group">   
             <form ng-submit="submit()" class="form-inline">
                <label class="sr-only" for="number1">Number 1</label>
                <input type="text" class="form-control" id="number1" placeholder="Number 1" ng-model="num1">
                <span class="glyphicon glyphicon-plus">&nbsp;</span>
                <label class="sr-only" for="number2">Number 2</label>
                <input type="text" class="form-control" id="number2" placeholder="Number 2" ng-model="num2">
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
        </div>        
        
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3 " ng-model="result">
            <p class="result">Result : {{ result }}</p>
        </div>
        <div class="col-xs-3" ng-model="from">
            <p class="from">From : {{ from }}</p>
        </div>
    </div>
</div>
